body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #344563;
  background-color: white;
}
#navBar {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
}

#logo {
  font-size: 25px;
  font-weight: bold;
  color: #6070ff;
}

#links {
  display: flex;
  font-size: 20px;
  font-weight: 500;
}
#links span {
  margin-left: 15px;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 100vh;
  background-image: url(../assets/backgrounds/Header\ bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 60px;
}
#hero-content {
  display: flex;
  width: 60%;
  text-align: left;
  flex-direction: column;
}

#hero-content h1 {
  font-size: 50px;
  color: #091e42;
  line-height: normal;
}
#hero-content p {
  padding-top: 0;
  margin-top: 0%;
  color: #091e42;
  line-height: normal;
}
#hero-content h2 {
  padding-top: 0;
  margin-top: 0%;
  color: #7f8cff;
  font-size: 16px;
}

#logos {
  display: flex;
}
#logos {
  display: flex;
  gap: 20px;
}

#card-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;
  align-items: center;
  justify-content: center;
  padding: 40px 100px;
  gap: 20px;
}

.card {
  padding: 10px;
  display: flex;
  border-radius: 40px;
  background-color: white;
  justify-content: center;
  gap: 10px;
}
.inner-card {
  flex: 1;
  padding: 20px;
}
.inner-card button {
  background-color: white;
  border-color: #6c7bff;
  color: #6c7bff;
  border-width: 1.5px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}
#see-project {
  background-color: white;
  border-color: #6c7bff;
  color: #6c7bff;
  border-width: 1.5px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}
#skills span {
  padding: 6px;
  background-color: #ebebff;
  color: blue;
  font-size: 15px;
  border-radius: 10px;
}


